/** Подключение переменных */
:root {
	--bs-font-family: "Gilroy", sans-serif;
	--bs-font-size: 16px;
	--bs-font-weight: 400;
	--bs-line-height: 1;
	--bs-font-color: #fff;
	--bs-transition: 0.3s ease-in-out;
	--bs-radius: 10px;
	--primary-color: #1371FF;
	--primary-hover-color: #0C67F0;
	--secondary-color: #FF0000;
	--white-color: #fff;
	--black-color: #000;
	--grey-color: #a3a3a3;
	--bs-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 8px 3px rgba(0, 0, 0, 0.1);
	--hover-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.circle__blue::after,
.circle__green::after,
.circle__purple::after,
.circle__orange::after,
.circle__red::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 4px;
  border-radius: 50%;
}

.circle__blue::after {
  background: #00F0FF;
}

.circle__green::after {
  background: #00FF47;
}

.circle__purple::after {
  background: #CC00FF;
}

.circle__orange::after {
  background: #FF9900;
}

.circle__red::after {
  background: #FF0000;
}






.hero__about {
	padding-top: 40px;
}
.about__body {
	display: grid;
	grid-template-columns: 520px 1fr;
	gap: 20px;
	.about__left {
		background-color: #1A1A1A;
		padding: 72px 44px;
		border-radius: 32px;
		height: 500px;
	}
	.about_button {
		margin-top: 60px;
	}
	.primary_btn {
	}
	.about__right {
		p {
			font-weight: 400;
			font-size: clamp(18px, 4vw, 24px);
			line-height: 140%;
			color: #a2a2a2;
			margin-bottom: 10px;
		}
	}
}
.center__text {
	margin-top: 64px;
	display: flex;
	justify-content: center;
	p {
		max-width: 956px;
		font-weight: 600;
		font-size: clamp(18px, 4vw, 24px);
		line-height: 1.2;
		text-transform: uppercase;
		text-align: center;
		color: var(--bs-font-color);
	}
}

/*--------------- philosophy ------------------------------*/

.philosophy {
	margin-top: 180px;
}
.philosophys__titles {
}
.philosophy__title {
}
.philosophy__body {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-top: 50px;
	.philosophy__text {
		p {
			font-weight: 500;
			font-size: clamp(16px, 4vw, 20px);
			line-height: 160%;
			color: var(--bs-font-color);
		}
	}
	.philosophy__img {
	}
}

.mission {
	margin-top: 150px;
}
.mission__titles {
}
.mission__body {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-top: 50px;
}
.mission__img {
}
.mission__text {
	color: var(--bs-font-color);
	p {
		font-weight: 500;
		font-size: 20px;
		line-height: 160%;
	}
	.main__profile {
		margin-top: 30px;
		h3 {
			font-weight: 800;
			font-size: 18px;
			margin-bottom: 15px;
		}
		.profile__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
			text-align: center;
			li {
				background: #1a1a1a;
				border-radius: 18px;
				padding: 34px 15px 34px 28px;
				font-weight: 600;
				font-size: 16px;
				.circle__blue, 
				.circle__purple, 
				.circle__green, 
				.circle__orange, 
				.circle__red {
					position: relative;
					&::after {
						width: 16px;
						height: 16px;
						left: -28px;
						top: 2px;
					}
				}
			}
		}
	}
}
/*---------------------------*/
.team {
	margin-top: 150px;
}
.team__body {
	margin-top: 50px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	.item__team {
		color: var(--bs-font-color);
		background: #161616;
		border-radius: 24px;
		&:hover {
			background: var(--primary-color);
		}
		.item__team-text {
			padding: 33px 24px;
			height: 130px;
			.item__team-name {
				font-weight: 700;
				font-size: clamp(18px, 3vw, 24px);
				margin-bottom: 10px;
			}
			.item__team-job {
				font-weight: 400;
				font-size: 18px;
			}
		}
		.item__team-photo {
		}
	}
}


/*====================================================================*/
/*================ Media query =======================================*/
/*====================================================================*/

@media (max-width: 959.98px) {
	.about__body {
		grid-template-columns: 400px 1fr;
	}
	/*------------------------*/
	.mission__body {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 767.98px) {
	.about__body {
		grid-template-columns: 1fr;
		.about__left {
			height: 300px;
		}
	}
	/*------------------------*/
	.philosophy {
		margin-top: 120px;
	}
	.philosophy__body {
		grid-template-columns: 1fr;
	}
	/*------------------------*/
	.team__body {
		gap: 10px;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 579.98px) {
	.mission__text {
		.main__profile {
			.profile__list {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	.team__body {
		.item__team {
			.item__team-text {
				padding: 25px 15px;
				height: 100px;
			}
		}
	}
	

}