@charset "UTF-8";
/** Подключение переменных */
:root {
  --bs-font-family: "Gilroy", sans-serif;
  --bs-font-size: 16px;
  --bs-font-weight: 400;
  --bs-line-height: 1;
  --bs-font-color: #fff;
  --bs-transition: 0.3s ease-in-out;
  --bs-radius: 10px;
  --primary-color: #1371FF;
  --primary-hover-color: #0C67F0;
  --secondary-color: #FF0000;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #a3a3a3;
  --bs-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1), 0px 8px 3px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.circle__blue::after,
.circle__green::after,
.circle__purple::after,
.circle__orange::after,
.circle__red::after,
.circle__blue_navy::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 4px;
  border-radius: 50%;
}

.circle__blue::after {
  background: #00F0FF;
}

.circle__green::after {
  background: #00FF47;
}

.circle__purple::after {
  background: #CC00FF;
}

.circle__orange::after {
  background: #FF9900;
}

.circle__red::after {
  background: #FF0000;
}

.circle__blue_navy::after {
  background: #0057FF;
}

/*====================================================================*/
/*====================================================================*/
/*====================================================================*/
.posts_adds {
  margin-top: 100px;
}

.posts_adds__title {
  color: var(--bs-font-color);
}

.widget_categories {
  padding: 20px 0 40px;
}
.widget_categories ul {
  display: flex;
  flex-wrap: wrap;
}
.widget_categories ul .cat-item {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}
.widget_categories ul .cat-item a {
  font-weight: 600;
  font-size: 18px;
}
.widget_categories ul .cat-item a .circle__orange,
.widget_categories ul .cat-item a .circle__red,
.widget_categories ul .cat-item a .circle__blue_navy,
.widget_categories ul .cat-item a .circle__purple,
.widget_categories ul .cat-item a .entries_wrapp {
  position: relative;
}
.widget_categories ul .cat-item a .circle__orange::after,
.widget_categories ul .cat-item a .circle__red::after,
.widget_categories ul .cat-item a .circle__blue_navy::after,
.widget_categories ul .cat-item a .circle__purple::after,
.widget_categories ul .cat-item a .entries_wrapp::after {
  width: 14px;
  height: 14px;
  left: -24px;
  top: 2px;
}
.widget_categories ul .cat-item:hover {
  background: var(--white-color);
}
.widget_categories ul .cat-item:hover a {
  color: var(--black-color);
}
.widget_categories ul .cat-item:active {
  background: var(--white-color);
}
.widget_categories ul .cat-item:active a {
  color: var(--black-color);
}
.widget_categories ul .cat-item:not(:first-child) {
  padding: 16px 19px 16px 43px;
}
.widget_categories ul .cat-item:first-child {
  padding: 16px 43px;
}

.entries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.entry-card {
  background: #1a1a1a;
  border-radius: 24px;
  overflow: hidden;
}
.entry-card .entry-title {
  font-weight: 700;
  font-size: clamp(18px, 3vw, 32px);
  padding: 32px 24px 24px;
}
.entry-card .entry-meta {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 30px;
  color: var(--bs-font-color);
}
.entry-card .entry-meta .meta-author {
  font-weight: 600;
  font-size: 18px;
}
.entry-card .entry-meta .meta-date {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}

/*====================================================================*/
/*================ Media query =======================================*/
/*====================================================================*/
@media (max-width: 767.98px) {
  .entries {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}/*# sourceMappingURL=blog.css.map */